{% extends 'base.html.twig' %}

{% block titulo %}
	{{ parent() }}
	- Ajustes de
	{{ app.user.username }}
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/micromodal.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/all.min.css') }}"/>
{% endblock %}

{% block body %}
	<noscript>
		<h2>El uso de Javascript es necesario</h2>
	</noscript>
	<body>
		<nav id="menu" class="navbar navbar-expand-md navbar-light fixed-top text-center">
			<a class="navbar-brand" href="{{ path('busqueda') }}"><img alt="Logo de SiteMe" class="p-3" src="imagenes/logo_letras.png" width="200px"/></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active m-2">
						<a class="nav-link" href="{{ path('busqueda') }}">
							<i class="fas fa-search"></i>
							&nbsp; Búsqueda
						</a>
					</li>
					<li class="nav-item active m-2">
						<a class="nav-link" href="{{ path('sitios') }}">
							<i class="fas fa-star"></i>
							&nbsp; Mis sitios
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item m-2 dropdown">
						<a class="nav-link pagActual active dropdown-toggle" href="{{ path('ajustes') }}" role="button" id="navbarDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-user"></i>
							&nbsp; Mi perfil</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
							<li>
								<a class="dropdown-item disabled" href="#">{{ app.user.username }}</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('ajustes') }}">
									<i class="fas fa-cog"></i>
									&nbsp; Ajustes de perfil</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_logout') }}">
									<i class="fas fa-sign-out-alt"></i>
									&nbsp; Cerrar sesión</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>

		<div class="separador"></div>
		<div class="container-fluid mt-5 text-center">
			<h1>Ajustes</h1>
			<div id="ajustes">
				<h2>{{ app.user.username }}</h2>
				<br>
				<button type="button" onclick="window.location.href = '{{ path('cambiarEmail') }}'" class="mb-2 btn-ajustes btn btn-lg btn-web">
					<i class="fas fa-user-edit"></i>
					&nbsp; Cambiar email</button><br>
				<button type="button" onclick="window.location.href = '{{ path('cambiarClave') }}'" class="mb-2 btn-ajustes btn btn-lg btn-web">
					<i class="fas fa-lock"></i>
					&nbsp; Cambiar contraseña</button><br>
				<button type="button" onclick="window.location.href = '{{ path('app_logout') }}'" class="mb-2 btn-ajustes btn btn-lg btn-web">
					<i class="fas fa-sign-out-alt"></i>
					&nbsp; Cerrar sesión</button><br>
				<button type="button" onclick="mostrarModal('modal-borrarcuenta');" class="mb-2 btn-ajustes btn btn-lg btn-outline-danger">
					<i class="fas fa-user-minus"></i>
					&nbsp; Eliminar cuenta</button>
			</div>
		</div>
	</body>

	<!-- Ventanas modales -->

	<!-- Modal estándar -->
	<div class="modal micromodal-slide" id="modal-estandar" aria-hidden="true">
		<div class="modal__overlay" tabindex="-1">
			<div class="modal__container text-center" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
				<main class="modal__content" id="modal-1-content">
					<i id="simboloModal"></i>
					<br><br>
					<h3 id="cuerpoModal"></h3>
				</main>
				<button class="boton btn-ajustes" onclick="cerrarModal('modal-estandar');">
					<i class="fas fa-times-circle"></i>
					&nbsp; Cerrar</button>
			</div>
		</div>
	</div>

	<!-- Modal eliminar cuenta -->
	<div class="modal micromodal-slide" id="modal-borrarcuenta" aria-hidden="true">
		<div class="modal__overlay" tabindex="-1">
			<div class="modal__container text-center" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
				<main class="modal__content rojo" id="modal-1-content">
					<i class="fas fa-exclamation-triangle fa-3x"></i>
					<br><br>
					<h3>¿Estás seguro de que quieres eliminar tu cuenta de SiteMe?</h3>
				</main>
				<button class="boton btn-ajustes" onclick="cerrarModal('modal-borrarcuenta');">
					<i class="fas fa-times-circle"></i>
					&nbsp; Cerrar</button>
				<button type="button" onclick="window.location.href = '{{ path('eliminarUsuario') }}'" class="mt-2 btn-ajustes btn btn-lg btn-danger">
					<i class="fas fa-user-minus"></i>
					&nbsp; Eliminar cuenta</button><br>
			</div>
		</div>
	</div>

	<!-- Modal error desconocido -->
	<div class="modal micromodal-slide" id="modal-error" aria-hidden="true">
		<div class="modal__overlay" tabindex="-1">
			<div class="modal__container text-center" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
				<main class="modal__content" id="modal-1-content">
					<i class="fas fa-exclamation-circle fa-3x"></i>
					<br><br>
					<h3>Se ha producido un error</h3>
					<h4>No se ha podido llevar a cabo la petición</h4>
				</main>
				<button class="boton btn-ajustes" onclick="window.location.href = '{{ path('ajustes') }}'">
					<i class="fas fa-times-circle"></i>
					&nbsp; Cerrar</button>
			</div>
		</div>
	</div>

	<!-- PIE DE LA PÁGINA -->
	<footer class="text-center">
		<p class="mt-5 mb-3 text-muted">&copy; SiteMe
			{{ "now"|date("Y") }}</p>
	</footer>


{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/utiles.js') }}"></script>
	<script src="{{ asset('js/efectosInterfaz.js') }}"></script>
	<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
{% endblock %}
